
.f_family{
    font-family: monospace;
}

.f_family1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.f_family2{
    font-family: Arial, Helvetica, sans-serif;
}

.f_family3{
    font-family: cursive;
}